.Button.btn_TF_Menu
{
	background : #ffffff;
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 1px solid #e3e4e9;
	border-left : 0px none;
	color : #003d9f;
	font : 600 14px "Segoe UI", "Malgun Gothic";
}
.Button.btn_WF_GuideExec
{
	background : transparent;
	border : 0px none;
	color : #003d9f;
	font : 600 13px "Segoe UI", "Malgun Gothic";
}
.Button.btn_WF_GuideExec .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.Static.sta_WF_GuideScript
{
	font : normal 13px/23px "Consolas";
	border : 1px solid #dedede;
	background : #f8f8f8;
}
.Static.sta_WF_GuideScript .nexacontentsbox
{
	white-space : pre-wrap;
	word-wrap : break-word;
	word-break : normal;
}
.Static.sta_WF_GuideRefer
{
	font : 600 12px "Consolas";
	color : #143a84;
}
.Static.sta_WF_GuideRefer .nexacontentsbox
{
	text-decoration : underline;
}
.Static.sta_WF_GuideResult
{
	font : 13px "Segoe UI", "Malgun Gothic";
	border : 1px solid #dedede;
}
.Static.sta_WF_GuideTitle1
{
	font : 600 18px "Segoe UI", "Malgun Gothic";
}
.Static.sta_WF_GuideTitle2
{
	background : url('./images/icon_Dot.png') no-repeat left center;
	font : 600 15px "Segoe UI", "Malgun Gothic";
}
.Static.sta_WF_GuideTitle3
{
	font : 600 14px "Segoe UI", "Malgun Gothic";
}
.Static.sta_WF_GuideTitle4
{
	font : 600 13px "Segoe UI", "Malgun Gothic";
}
.Static.sta_WF_GuideLabel
{
	font : 600 13px "Segoe UI", "Malgun Gothic";
}
.TextArea.txt_WF_GuideDesc
{
	font : normal 13px/22px "Consolas";
	border : 1px solid #dedede;
	background : #FFFFCC;
	color : #000000;
	letter-spacing : 0px;
}
.TextArea.txt_WF_GuideDesc .nexatextarea
{
	padding : 6px 10px;
	white-space : pre;
	word-wrap : normal;
}
.TextArea.txt_WF_GuideDesc .nexacontentsbox
{
	white-space : pre;
	word-wrap : normal;
}
#nexacontainer .Button.btn_TF_Menu[data-status=focused]
{
	background : #ffffff;
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 1px solid #e3e4e9;
	border-left : 0px none;
	color : #003d9f;
	font : 600 14px "Segoe UI", "Malgun Gothic";
}
#nexacontainer .Button.btn_TF_Menu[data-status=mouseover]
{
	background : #ffffff;
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 1px solid #e3e4e9;
	border-left : 0px none;
	color : #003d9f;
	font : 600 14px "Segoe UI", "Malgun Gothic";
}
#nexacontainer .Button.btn_WF_GuideExec[data-status=focused]
{
	background : transparent;
	border : 0px none;
	color : #003d9f;
	font : 600 13px "Segoe UI", "Malgun Gothic";
}
#nexacontainer .Button.btn_WF_GuideExec[data-status=focused] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .Button.btn_WF_GuideExec[data-status=mouseover]
{
	background : transparent;
	border : 0px none;
	color : #003d9f;
	font : 13px "Consolas";
}
#nexacontainer .Button.btn_WF_GuideExec[data-status=mouseover] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
	text-decoration : underline;
}
#nexacontainer .TextArea.txt_WF_GuideDesc[data-status=mouseover]
{
	font : normal 13px/22px "Consolas";
	border : 1px solid #dedede;
	background : #FFFFCC;
	color : #000000;
	letter-spacing : 0px;
}
#nexacontainer .TextArea.txt_WF_GuideDesc[data-status=mouseover] .nexatextarea
{
	padding : 6px 10px;
	white-space : pre;
	word-wrap : normal;
}
#nexacontainer .TextArea.txt_WF_GuideDesc[data-status=mouseover] .nexacontentsbox
{
	white-space : pre;
	word-wrap : normal;
}
#nexacontainer .TextArea.txt_WF_GuideDesc[data-status=focused]
{
	font : normal 13px/22px "Consolas";
	border : 1px solid #dedede;
	background : #FFFFCC;
	color : #000000;
	letter-spacing : 0px;
}
#nexacontainer .TextArea.txt_WF_GuideDesc[data-status=focused] .nexatextarea
{
	padding : 6px 10px;
	white-space : pre;
	word-wrap : normal;
}
#nexacontainer .TextArea.txt_WF_GuideDesc[data-status=focused] .nexacontentsbox
{
	white-space : pre;
	word-wrap : normal;
}
#nexacontainer .TextArea.txt_WF_GuideDesc[data-status=readonly]
{
	font : normal 13px/22px "Consolas";
	border : 1px solid #dedede;
	background : #FFFFCC;
	color : #000000;
	letter-spacing : 0px;
}
#nexacontainer .TextArea.txt_WF_GuideDesc[data-status=readonly] .nexatextarea
{
	padding : 6px 10px;
	white-space : pre;
	word-wrap : normal;
}
#nexacontainer .TextArea.txt_WF_GuideDesc[data-status=readonly] .nexacontentsbox
{
	white-space : pre;
	word-wrap : normal;
}
#nexacontainer .Button.btn_TF_Menu[data-userstatus=pushed]
{
	background : #ffffff;
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 1px solid #e3e4e9;
	border-left : 0px none;
	color : #003d9f;
	font : 600 14px "Segoe UI", "Malgun Gothic";
}
#nexacontainer .Button.btn_TF_Menu[data-userstatus=selected]
{
	background : #ffffff;
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 3px solid #17a2b8;
	border-left : 0px none;
	color : #17a2b8;
	font : 600 14px "Segoe UI", "Malgun Gothic";
}
#nexacontainer .Button.btn_WF_GuideExec[data-userstatus=pushed]
{
	background : transparent;
	border : 0px none;
	color : #003d9f;
	font : 600 13px "Segoe UI", "Malgun Gothic";
}
#nexacontainer .Button.btn_WF_GuideExec[data-userstatus=pushed] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .Button.btn_WF_GuideExec[data-userstatus=selected]
{
	background : transparent;
	border : 0px none;
	color : #003d9f;
	font : 600 13px "Segoe UI", "Malgun Gothic";
}
#nexacontainer .Button.btn_WF_GuideExec[data-userstatus=selected] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .Button.btn_TF_Menu[data-status=disabled]
{
	background : #ffffff;
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 1px solid #e3e4e9;
	border-left : 0px none;
	color : #003d9f;
	font : 600 14px "Segoe UI", "Malgun Gothic";
}
#nexacontainer .Button.btn_WF_GuideExec[data-status=disabled]
{
	background : transparent;
	border : 0px none;
	color : #003d9f;
	font : 600 13px "Segoe UI", "Malgun Gothic";
}
#nexacontainer .Button.btn_WF_GuideExec[data-status=disabled] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .TextArea.txt_WF_GuideDesc[data-status=disabled]
{
	font : normal 13px/22px "Consolas";
	border : 1px solid #dedede;
	background : #FFFFCC;
	color : #000000;
	letter-spacing : 0px;
}
#nexacontainer .TextArea.txt_WF_GuideDesc[data-status=disabled] .nexatextarea
{
	padding : 6px 10px;
	white-space : pre;
	word-wrap : normal;
}
#nexacontainer .TextArea.txt_WF_GuideDesc[data-status=disabled] .nexacontentsbox
{
	white-space : pre;
	word-wrap : normal;
}
